Ref: https://www.analyticsvidhya.com/blog/2018/02/the-different-methods-deal-text-data-predictive-python/

# Import Packages & Libraries

In [41]:
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
import pandas
from sklearn.model_selection import train_test_split
import numpy

import numpy as np #Linear Algebra
import pandas as pd #Data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from mlxtend.plotting import plot_confusion_matrix

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix, f1_score

import numpy as np
import pandas as pd
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import collections
import matplotlib

from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
 
import string
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline
% matplotlib inline

from textblob import TextBlob

#Input data files are available in the "../input/" directory.
#For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

# Load Data

In [42]:
train = pd.read_excel('Comments_Data_Extracts_01.xlsx')

In [43]:
train.head()

                                            Comments
0  I just bought this projector and i am clueless...
1  You promised me a multi card reader for leavin...
2  Hello Apeman, your team is not responding to m...
3  Great picture, I am so excited about looking f...
4  I have just bought the Apeman 550 dashcam and ...

# **Basic feature extraction using text data**

## Number of Words

In [44]:
train['word_count'] = train['Comments'].apply(lambda x: len(str(x).split(" ")))
train[['Comments','word_count']].head()

                                            Comments  word_count
0  I just bought this projector and i am clueless...          16
1  You promised me a multi card reader for leavin...          15
2  Hello Apeman, your team is not responding to m...          18
3  Great picture, I am so excited about looking f...          38
4  I have just bought the Apeman 550 dashcam and ...          32

## Number of characters

In [45]:
train['char_count'] = train['Comments'].str.len() ## this also includes spaces
train[['Comments','char_count']].head()

                                            Comments  char_count
0  I just bought this projector and i am clueless...          77
1  You promised me a multi card reader for leavin...          80
2  Hello Apeman, your team is not responding to m...         102
3  Great picture, I am so excited about looking f...         245
4  I have just bought the Apeman 550 dashcam and ...         154

## Average Word Length

In [46]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['Comments'].apply(lambda x: avg_word(x))
train[['Comments','avg_word']].head()

                                            Comments  avg_word
0  I just bought this projector and i am clueless...  4.133333
1  You promised me a multi card reader for leavin...  4.400000
2  Hello Apeman, your team is not responding to m...  4.722222
3  Great picture, I am so excited about looking f...  5.777778
4  I have just bought the Apeman 550 dashcam and ...  3.967742

## Number of stopwords

In [47]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['Comments'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['Comments','stopwords']].head()

                                            Comments  stopwords
0  I just bought this projector and i am clueless...          9
1  You promised me a multi card reader for leavin...          4
2  Hello Apeman, your team is not responding to m...          8
3  Great picture, I am so excited about looking f...         13
4  I have just bought the Apeman 550 dashcam and ...         11

## Number of special characters

In [48]:
train['hashtags'] = train['Comments'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['Comments','hashtags']].head()

                                            Comments  hashtags
0  I just bought this projector and i am clueless...         0
1  You promised me a multi card reader for leavin...         0
2  Hello Apeman, your team is not responding to m...         0
3  Great picture, I am so excited about looking f...         5
4  I have just bought the Apeman 550 dashcam and ...         0

## Number of numerics

In [49]:
train['numerics'] = train['Comments'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['Comments','numerics']].head()

                                            Comments  numerics
0  I just bought this projector and i am clueless...         0
1  You promised me a multi card reader for leavin...         0
2  Hello Apeman, your team is not responding to m...         0
3  Great picture, I am so excited about looking f...         0
4  I have just bought the Apeman 550 dashcam and ...         2

## Number of Uppercase words

In [50]:
train['upper'] = train['Comments'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['Comments','upper']].head()

                                            Comments  upper
0  I just bought this projector and i am clueless...      1
1  You promised me a multi card reader for leavin...      0
2  Hello Apeman, your team is not responding to m...      0
3  Great picture, I am so excited about looking f...      1
4  I have just bought the Apeman 550 dashcam and ...      2

# **Basic Pre-processing**

## Lower case

In [51]:
train['Comments'] = train['Comments'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['Comments'].head()

0    i just bought this projector and i am clueless...
1    you promised me a multi card reader for leavin...
2    hello apeman, your team is not responding to m...
3    great picture, i am so excited about looking f...
4    i have just bought the apeman 550 dashcam and ...
Name: Comments, dtype: object

## Removing Punctuation

In [52]:
train['Comments'] = train['Comments'].str.replace('[^\w\s]','')
train['Comments'].head()

0    i just bought this projector and i am clueless...
1    you promised me a multi card reader for leavin...
2    hello apeman your team is not responding to my...
3    great picture i am so excited about looking fo...
4    i have just bought the apeman 550 dashcam and ...
Name: Comments, dtype: object

## Removal of Stop Words

In [53]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['Comments'] = train['Comments'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['Comments'].head()

0             bought projector clueless connect iphone
1    promised multi card reader leaving review im s...
2    hello apeman team responding email fixing issu...
3    great picture excited looking 4k camerajust ne...
4    bought apeman 550 dashcam find rear camer cabl...
Name: Comments, dtype: object

## Common words

In [54]:
freq = pd.Series(' '.join(train['Comments']).split()).value_counts()[:10]
freq

gadgets               2429
tech                   762
car                    733
new                    552
electriccar            494
via                    484
technology             421
autonomousvehicles     421
electric               417
smart                  378
dtype: int64

In [55]:
#Common word removal
#freq = list(freq.index)
#train['Comments'] = train['Comments'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
#train['Comments'].head()

## Rare words removal

In [56]:
freq = pd.Series(' '.join(train['Comments']).split()).value_counts()[-10:]
freq

httpstcoa6ufq6easd    1
uhs                   1
httpstcoikfnfyyrxc    1
chartjs               1
httpstcolwqd5pejhv    1
httpstco32cgag8vev    1
meanwhile             1
httpstco7csjwvhdh6    1
daughter              1
segment               1
dtype: int64

In [57]:
freq = list(freq.index)
train['Comments'] = train['Comments'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Comments'].head()

0             bought projector clueless connect iphone
1    promised multi card reader leaving review im s...
2    hello apeman team responding email fixing issu...
3    great picture excited looking 4k camerajust ne...
4    bought apeman 550 dashcam find rear camer cabl...
Name: Comments, dtype: object

## Spelling correction

In [58]:
from textblob import TextBlob
train['Comments'][:5].apply(lambda x: str(TextBlob(x).correct()))
#it will actually take a lot of time to make these corrections, therefore, it is shown this technique by applying it on only the first 5 rows

0              bought protector careless connect phone
1    promised multi card reader leaving review in s...
2    hello apeman team responding email fixing issu...
3    great picture excited looking k camerajust nee...
4    bought apeman 550 dashcam find rear came cable...
Name: Comments, dtype: object

## Tokenization

In [59]:
import nltk
nltk.download('punkt')
TextBlob(train['Comments'][1]).words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['promised', 'multi', 'card', 'reader', 'leaving', 'review', 'im', 'still', 'waiting', 'susie'])

## Stemming

In [60]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['Comments'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0              bought projector clueless connect iphon
1    promis multi card reader leav review im still ...
2    hello apeman team respond email fix issu multi...
3    great pictur excit look 4k camerajust need pri...
4    bought apeman 550 dashcam find rear camer cabl...
Name: Comments, dtype: object

## Lemmatization

In [61]:
from textblob import Word
train['Comments'] = train['Comments'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['Comments'].head()

0             bought projector clueless connect iphone
1    promised multi card reader leaving review im s...
2    hello apeman team responding email fixing issu...
3    great picture excited looking 4k camerajust ne...
4    bought apeman 550 dashcam find rear camer cabl...
Name: Comments, dtype: object

# **Advance Text Processing**

## N-grams

In [62]:
TextBlob(train['Comments'][0]).ngrams(2)

[WordList(['bought', 'projector']),
 WordList(['projector', 'clueless']),
 WordList(['clueless', 'connect']),
 WordList(['connect', 'iphone'])]

## Term frequency

In [63]:
tf1 = (train['Comments'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

      words  tf
0      card   1
1    reader   1
2  promised   1
3     still   1
4   waiting   1
5     multi   1
6        im   1
7    review   1
8   leaving   1
9     susie   1

## Inverse Document Frequency

In [64]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['Comments'].str.contains(word)])))
tf1

      words  tf       idf
0      card   1  4.610001
1    reader   1  6.273506
2  promised   1  7.372118
3     still   1  5.450305
4   waiting   1  6.765982
5     multi   1  4.642089
6        im   1  2.355943
7    review   1  4.519487
8   leaving   1  8.065265
9     susie   1  9.163877

## Term Frequency – Inverse Document Frequency (TF-IDF)

In [65]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

      words  tf       idf     tfidf
0      card   1  4.610001  4.610001
1    reader   1  6.273506  6.273506
2  promised   1  7.372118  7.372118
3     still   1  5.450305  5.450305
4   waiting   1  6.765982  6.765982
5     multi   1  4.642089  4.642089
6        im   1  2.355943  2.355943
7    review   1  4.519487  4.519487
8   leaving   1  8.065265  8.065265
9     susie   1  9.163877  9.163877

In [66]:
#sklearn has a separate function to calculate tfidf
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['Comments'])

train_vect

<9546x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 54697 stored elements in Compressed Sparse Row format>

## Bag of Words

In [67]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['Comments'])
train_bow

<9546x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 57291 stored elements in Compressed Sparse Row format>

## Sentiment Analysis

In [68]:
train['Comments'][:5].apply(lambda x: TextBlob(x).sentiment)

0             (0.0, 0.0)
1             (0.0, 0.0)
2             (0.0, 0.0)
3    (0.246875, 0.53125)
4             (0.0, 0.3)
Name: Comments, dtype: object

In [69]:
train['sentiment'] = train['Comments'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['Comments','sentiment']].head()

                                            Comments  sentiment
0           bought projector clueless connect iphone   0.000000
1  promised multi card reader leaving review im s...   0.000000
2  hello apeman team responding email fixing issu...   0.000000
3  great picture excited looking 4k camerajust ne...   0.246875
4  bought apeman 550 dashcam find rear camer cabl...   0.000000

## Word Embeddings

In [70]:
from gensim.scripts.glove2word2vec import glove2word2vec
glove_input_file = 'glove.6B.100d.txt'
word2vec_output_file = 'glove.6B.100d.txt.word2vec'
glove2word2vec(glove_input_file, word2vec_output_file)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:252: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

(19561, 100)

In [ ]:
from gensim.models import KeyedVectors # load the Stanford GloVe model
filename = 'glove.6B.100d.txt.word2vec'
model = KeyedVectors.load_word2vec_format(filename, binary=False)

In [ ]:
model['just']

In [ ]:
model['bought']

In [ ]:
(model['just'] + model['bought'])/2

In [ ]:
###--------------------------###